:root {
    --header-height: min(150px, 40%);
}
body {
    background-color: #171717;
}
#header {
    width: 100vw;
    height: var(--header-height);
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}
#logo {
    height: var(--header-height);
}
#title {
    color: #777777;
    text-align: center;
}
#title > h1 {
    padding-top: 5%;
}
#order {
    height: var(--header-height);
    background-color: #000000;
    color: #d5db3f;
    font-size: 30px;
    margin-right: 2px;
}
#order:hover {
    outline: 1px solid #eeeeee;
}