:root {
    --header-height: min(150px, 40%);
    --tabs-height: min(50px, 14%);
    --total-header:calc(var(--header-height) + var(--tabs-height));
}
body {
    background-color: #171717;
}
#header {
    width: 100vw;
    height: var(--header-height);
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}
#logo {
    height: var(--header-height);
}
#title {
    color: #777777;
    text-align: center;
}
#title > h1 {
    padding-top: 5%;
}
#order {
    height: var(--header-height);
    background-color: #000000;
    color: #d5db3f;
    font-size: 30px;
    margin-right: 2px;
}
#order:hover {
    outline: 1px solid #eeeeee;
}
#tabs {
    height: var(--tabs-height);
    width: 100vw;
    background-color: #373737;
    position: fixed;
    top: var(--header-height);
    left: 0;
    display: grid;
    grid-template-columns: 7fr 2fr 2fr 2fr 7fr;
    gap: 10px;
}
.menuButton {
    background-color: #333333;
    color: #aaaaaa;
    width: 100%;
}
p {
    color: white;
}
#content {
    position:relative;
}
#info {
    position: absolute;
    top: 200px;
}